*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box-container{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#box{
    background-color: teal;
    width: 500px;
    height: 500px;

}

input{
    position: absolute;
}

#topLeft{
    top: 0;
    left: 0;
}

#topRight{
    top: 0;
    right: 0;
}

#bottomRight{
    bottom: 0;
    right: 0;
}

#bottomLeft{
    bottom: 0;
    left: 0;
}